
<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    <p> <img src="https://w7.pngwing.com/pngs/927/243/png-transparent-music-song-arabesque-art-music-miscellaneous-blue-logo.png" alt="alternatetext" width="90" height="100"></p>
    <p>
      <ion-icon name="person-circle-outline" width="90" height="100"></ion-icon><input type="text" name="usuario" style="background:rgb(248, 250, 249); color:rgb(4, 255, 242); font-weight:bold; padding:15px; border:3px solid rgb(5, 40, 43); margin-top:100px; margin-bottom:100px;">

</p>
<p>
  <ion-icon name="chevron-forward-outline"></ion-icon><input type="password" name="usuario" pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*" style="background:rgb(248, 250, 249); color:rgb(4, 255, 242); font-weight:bold; padding:15px; border:3px solid rgb(5, 40, 43); margin-top:100px; margin-bottom:100px;">
</p>
  </div>


   
</ion-content>


