
<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
  <ion-button color="primary">musica semanal</ion-button>
  <ion-button slot="end" color="primary" onclick="window.location.href='/semanal'">ranking semanal</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button color="primary">recomendaciones</ion-button>
    <ion-button slot="end" color="primary">favoritos</ion-button>
    </ion-toolbar>
  <div text-center align-items-center>
    <h1 >VALORANOS</h1>
  </div>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">comentarios</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
